@import "./styles/mixins.scss";

@font-face {
  font-family: "Montserrat";
  src: url("/styles/fonts/Montserrat-SemiBold.ttf");
}

// Variables
$color-primary: #4e5150;
$color-secondary: #a9a9a9;
$background: #e5e5e5;
$footer: #b9bdcf;
$background-shadow: #c4c4c4;

//Styles

@at-root .gallery {
  font-family: "Montserrat";
  max-width: 100%;
  margin: 0 10px;
  @include tablet {
    max-width: 1200px;
    margin: 0 auto;
  }
  & h1,
  p {
    margin: 0;
  }
}

.gallery {
  &__header {
    text-align: center;
    margin: 30px 0 24px 0;
    @include tablet {
      margin: 60px 0 64px 0;
    }
  }
}
.profile__photo {
  & h1 {
    color: $color-primary;
    font-size: 14px;
    margin-top: 12px;
    line-height: 17px;
    @include tablet {
      font-size: 24px;
      margin-top: 16px;
      line-height: 29px;
    }
  }
  & > p {
    color: $color-secondary;
    font-size: 10px;
    line-height: 12px;
    margin-top: 4px;
    @include tablet {
      font-size: 14px;
      line-height: 17px;
      margin-top: 8px;
    }
  }
  & img {
    width: 100px;
    border-radius: 16px;
    @include tablet {
      width: 156px;
      height: auto;
    }
  }
}
.gallery__main-section {
  margin: auto;
}
.profile__summarize {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include tablet {
    margin-top: 24px;
  }
  & div {
    background-color: $background;
    border-radius: 12px;
    margin-right: 12px;
    padding: 10px 15px;
    @include tablet {
      margin-right: 24px;
      padding: 15px 32px;
    }
    & p {
      font-size: 12px;
      @include tablet {
        font-size: 18px;
      }
    }
    & p:nth-child(2) {
      color: $color-secondary;
    }
  }
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 9vw);
  grid-gap: 15px;
  @include tablet {
    grid-gap: 30px;
  }
  & figure {
    margin: 0;
  }
  &-item1 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    @include showText;
  }
  &-item2 {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    @include showText;
  }
  &-item3 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
    @include showText;
  }
  &-item4 {
    position: relative;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 9;
    @include showText;
  }
  &-item5 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 9;
    @include showText;
  }
  &-item6 {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 9;
    @include showText;
  }
}

.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0px 6px 6px 0px $background-shadow;
  &:hover {
    transform: scale(1.1);
    opacity: 50%;
    transition: all 500ms ease-in-out;
  }
}
.description {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
}

.footer {
  text-align: center;
  color: $footer;
  & a {
    color: $footer;
    font-weight: 900;
    text-decoration: underline;
  }
}
